.gradle/
.idea/
classes/
build/
out/*

*.iml
clipplr/*.iml
clipplr/build
clipplr/tomcat.8080

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar